<header>
  <div class="container">
    <div class="row">
      <div class="col-xl-2">
          <img class="img-fluid "src="../assets/img/claro-logo.png" alt="claro-logo" title="Claro Brasil">
      </div>
    </div>
  </div>
</header>