<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            2018 - Teste para Claro Brasil - Collins Freitas
            <br>
        </div>
      </div>
    </div>
  </footer>