<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1>Produtos</h1>
        </div>
    </div>
    <div class="row" *ngIf="arrayProdutos">
        <div class="col-xl-3 " *ngFor="let app of arrayProdutos">
            <div class="produto">
                <div class="tipo">
                    <svg-icon src="assets/svg/{{app.tipo}}.svg" [svgStyle]="{ 'width.px':30, 'height.px': 30 }"></svg-icon>
                    {{app.nome}}
                </div>
                <!-- <div class="nome"></div> -->
                <div class="listaCanais">
                    <ul>
                        <li *ngFor="let canais of app.listaCanais">
                            {{canais.categoria}}
                        </li>
                    </ul>
                </div>
                <div class="descricao">{{app.descricao}}</div>
                <div class="precoDe">De: {{app.precoDe | currency:'R$':'symbol':'4.2-2':'pt'}}</div>
                <div class="precoPor">Por: {{app.preco | currency:'R$':'symbol':'4.2-2':'pt'}}</div>
                <div class="adesao">Adesão: {{app.adesao | currency:'R$':'symbol':'':'pt'}}</div>
                <a href="#" class="button">
                        {{app.nome}} {{app.tipo}}
                </a>
            </div>
            
        </div>
    </div>
</div>