@import '../variables';

.produto {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #CCC;
}

.listaCanais {
    ul {
        list-style: none;
        padding: 0;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;

        li {
            float: left;
            margin-right: 10px;
            transform: rotate(45deg);
            font-size: 12px;
        }
    }
}

.descricao {
    font-size: 11px;
    display: block;
    clear: both;
}

.adesao,
.precoDe,
.precoPor {
    font-weight: bold;
}

.precoDe {
    font-size: 12px;
    margin-top: 10px;
}

.button {
    background-color: yellow;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 7px 15px;
    margin-top: 20px;
    display: block;
    width: 80%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;

}